
body {
  margin:0px;
  background-color: #596475;
  font-family: Helvetica, sans-serif;
  
}
.NewUser{
  width: 300px;
  padding: 60px;
  filter: drop-shadow(0px 0px 25px #000000);
}

.settings{
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center; 
  background-color:#1F2232;
  border: 2px solid #BC9EC1;
  border-radius: 5px;
  margin-top:5px;
  font-size: 17px;
  color: #FDE8E9;
}

.line {
  border-top: 1px solid red;
}

.flex {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;  
  /*filter: drop-shadow(0px 0px 25px #000000);*/
  min-height: 100% !important;
  overflow: hidden; 
}

.flex2 {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px; 
  /*filter: drop-shadow(0px 0px 25px #000000);*/
  min-height: 100% !important;
  overflow: hidden; 
}


.photobox{
  display: flex;
  /*filter: drop-shadow(0px 0px 25px #000000);*/
  min-height: 100% !important;
  overflow: hidden; 
 
  max-width: 600px;
  justify-content: center;

}

.photos {
  padding-top :20px;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  background: #1F2232;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  max-width: 640px;

}

.user{
  display: flex;
  filter: drop-shadow(0px 0px 25px #000000);
  flex-direction: column;
}
.box {
  width: 200px;
  padding: 20px;
  background: #1F2232;
}


.box img {
  border-radius: 50% ;
  max-width: 100%;
  filter: drop-shadow(0px 1px 10px #000000);
}

/*
.user .profilepic{
  border: 2px solid #BC9EC1;
}
*/
.fullname{
  margin-top: 25px;
  font-size: 29px;
  color: #FDE8E9;
  margin-bottom: 10px;
}
.username{
  text-transform: uppercase;
  text-align: left;
  color: #FDE8E9;
  margin-bottom: 10px;
}

.bio{
  text-align: left;
  color: #FDE8E9;
}


.meat{
  display: flex;
  align-items: center;/* vertical */
  justify-content: center;
  height: 100vh; /* horizontal */
}
.topnav {
  display: flex;
  align-items: center;
  background-color: #1F2232;
  overflow: hidden;
  height: 70px;
}

/* Add a color to the active/current link */


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #BC9EC1;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a.vibe{
  flex: 1;
  color: #FDE8E9;
  font-size: 40px;
  text-shadow: -5px 0px #BC9EC1;
}

.LoginBox {
  width: 300px;
  background-color: #1F2232;
  padding: 60px;
  filter: drop-shadow(0px 0px 25px #000000);
  
}

.BottomText{
  text-align:center;
}
.Smaller{
  font-size: 16px;
  color: #596475
}
.Login {
  text-align:center;
  margin: 10px;
  font-size: 30px;
  color: #FDE8E9;
}
.Text {
  text-align:center;
  font-size: 16px;
  margin: 10px;
  color: #596475;
}
.Signup{
  text-decoration: none;
  font-size: 20px;
  color: #FDE8E9;
  text-align:center;
}
input{
   width: 290px;
   height: 50px;
   text-align:center;
   background-color:#1F2232;
   border: 2px solid #BC9EC1;
   border-radius: 5px;
   font-size: 20px;
   color: #FDE8E9;
}


::placeholder {
  font-size: 20px;
  color:#596475;
  opacity: 1; /* Firefox */
}