body {
  margin:0px;
  background-color: #596475;
  font-family: Helvetica, sans-serif;
  
}
.NewUser{
  width: 300px;
  padding: 60px;
  filter: drop-shadow(0px 0px 25px #000000);
}
.user {
  width: 150px;
  background-color: #1F2232;
  padding: 60px;
  filter: drop-shadow(0px 0px 25px #000000);
}

.user .profilepic{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #BC9EC1;
  overflow: hidden;
}

.user .username{
  text-transform: uppercase;
  text-align: center;
  color: #FDE8E9;
}

.user .bio{
  text-align: center;
  color: #596475;
}


.meat{
  display: flex;
  align-items: center;/* vertical */
  justify-content: center;
  height: 100vh; /* horizontal */
}
.topnav {
  display: flex;
  align-items: center;
  background-color: #1F2232;
  overflow: hidden;
  height: 70px;
}

/* Add a color to the active/current link */


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #BC9EC1;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a.vibe{
  flex: 1;
  color: #FDE8E9;
  font-size: 40px;
  text-shadow: -5px 0px #BC9EC1;
}

.LoginBox {
  width: 300px;
  background-color: #1F2232;
  padding: 60px;
  filter: drop-shadow(0px 0px 25px #000000);
  
}

.BottomText{
  text-align:center;
}
.Smaller{
  font-size: 16px;
  color: #596475
}
.Login {
  text-align:center;
  margin: 10px;
  font-size: 30px;
  color: #FDE8E9;
}
.Text {
  text-align:center;
  font-size: 16px;
  margin: 10px;
  color: #596475;
}
.Signup{
  text-decoration: none;
  font-size: 20px;
  color: #FDE8E9;
  text-align:center;
}
input{
   width: 290px;
   height: 50px;
   text-align:center;
   background-color:#1F2232;
   border: 2px solid #BC9EC1;
   border-radius: 5px;
   font-size: 20px;
   color: #FDE8E9;
}


::placeholder {
  font-size: 20px;
  color:#596475;
  opacity: 1; /* Firefox */
}